h1
{
    text-align: center;
}

h2
{
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
}
.img_fig
{
    width: 249px;
    margin: 10px;
    border: 6px solid goldenrod;
}
.img_fig_fiche
{
    width: 400px;
    margin-left: 50px;
    margin-top: 50px;
    border: 6px solid goldenrod;
}
.img_caroussel
{
    width: 300px;
    margin: 10px;
    border: 6px solid rgb(61, 67, 99);
}

.div_caroussel
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxed
{
    margin: 25px;
    display: flex;
}
.font_img
{
    opacity: 50%;
    width: 100%;
}

nav {
    background-color: rgb(61, 67, 99);
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; 
    margin-left: 25%;
    margin-right: 25%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgb(79,90,155);
}

.header_img
{
    height: 340px;
}

.background
{
    background-color: goldenrod;
    margin: 0px;
}

#dateTime
{
    text-align: center;
    background-color: rgb(61, 67, 99);
    color: white;
    font-size: medium;
    padding-top: 20px;
    padding-bottom: 10px;
}

button
{
    height: 60px;
    width: 100px;
    background-color: rgb(61, 67, 99);
    color: white;
    font-size: 15px;
    margin: 10px;
}

.histoire
{
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px ;
    text-align: justify;
    font-size: 25px;
}

.fiche
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fiche_description
{
    margin-top: 50px;
    text-align: left;
    margin-left: 10px;
}
.fiche_description p
{
    font-size: 16px;
}
.fiche_description strong
{
    font-size: 20px;
}
.fiche_caractéristiques
{
    margin-left: 20px;
}
.description
{
    margin: 35px;
    font-size: 18px;
}
.autre_figurines
{
    display: flex;
    overflow: scroll;
    height: 400;
}

.questionaire
{
    text-align: center;
    padding: 10px;
}
