h1
{
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}
.img_fig
{
    width: 249px;
    margin: 10px;
    border: 6px solid goldenrod;
}
.boxed
{
    margin: 25px;
    display: flex;
}
.font_img
{
    opacity: 50%;
    width: 100%;
}
.text
{
    background: rgba(32, 40, 98, 0.5);
    border-radius: 10px;
    position: absolute;
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%;
    color: white;
    width: 30%;
}

.image-container 
{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(61, 67, 99);
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; 
    margin-left: 30%;
    margin-right: 30%;
}

nav ul li {
    display: inline; /* Affiche les éléments de la liste horizontalement */
}

nav ul li a {
    display: block; /* Affiche les liens comme des blocs */
    padding: 10px 20px; /* Espacement interne des liens */
    color: white; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement des liens */
}

nav ul li a:hover {
    background-color: rgb(79,90,155);
}


